#ignore data folders for containers
*.txt
/volumes/
/backups/
/letsencrypt/
docker-compose.yml
.outofdate
*.log
*~
.gitsecret/keys/random_seed
!*.secret
secrets/nextcloud.env
secrets/influxdb.env
secrets/mariadb.env